
  <%=form_for @template,:url => admin_template_path(:id => @template.id),:html=>{:class=>"form-horizontal"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
	<div class="form-actions">
    	<%=f.submit "Save Template", :class=>"btn btn-primary"%> or <%=link_to "cancel",admin_templates_path,:class => "btn"%>
	</div>
  <%end%>

 
