
  

  <%=form_for @template,:url => admin_templates_path(),:html=>{:class=>"form-horizontal"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
     <div class="form-actions">
    	<%=f.submit "Create Template", :class=>"btn btn-primary"%> or <%=link_to "cancel",admin_templates_path,:class => "btn"%>
    </div>
  <%end%>


