<div class="page_row">				
	<span class="row_meta">
		<%=prefix if defined? prefix%><%=link_to page.name,edit_admin_page_path(:id => page.id)%>
	</span>
	<span class="edit_controls">
		<%=link_to "Preview",admin_page_path(:id => page.id), :title => "Preview",:class => 'btn btn-mini'%>
		<%=link_to "Remove",admin_page_path(:id => page.id),:method => :delete,:class => 'btn btn-mini btn-danger', :data =>{:confirm => "Are you sure you want to remove this page?"} %>
	</span>
	<br style="clear:both;"/>
</div>

<% if !page.spud_pages.load.blank? %>
	<div class="left_guide">
		<% page.spud_pages.each do |spud_page| %>
			<%= render :partial => 'page_row', :locals => {:page => spud_page} %>
		<%end%>
	</div>
<% end %>
