<%=content_for :data_controls do%>
<%=link_to "New Page",new_admin_page_path(),:class => "btn btn-primary",:title => "New Page"%>&nbsp;<%=link_to "Clear Cache",clear_admin_pages_path(),:class => "btn btn-warning",:title => "Clear Page Cache" if Spud::Cms.cache_mode %>
<%end%>

<%=content_for :detail do%>
	<div class="page_list">
			<%@pages.each do |page|%>
				<%=render :partial => "page_row",:locals => {:page => page}%>
			<%end%>
			<%=will_paginate @pages%>
	</div>

<%end%>
