<% @page_title = @page.name %>

<%= content_for :head do %>
	<% cache([@page, 'head']) do %>
		<% if @page.meta_description.present? %>
			<meta name="description" content="<%= @page.meta_description %>" />
		<% end %>
		<% if @page.meta_keywords.present? %>
			<meta name="keywords" content="<%= @page.meta_keywords %>" />
		<% end %>
	<% end %>
<% end %>

<% if !@inline.blank? %>
	<%= render :inline => @inline %>
<% end %>
<% @page.spud_page_partials.each do |page_partial| %>
	<% if(page_partial.name.match(/^body$/i) && Spud::Cms.yield_body_as_content_block == false) %>
		<% cache(page_partial) do %>
			<%= page_partial.content_processed.html_safe %>
		<% end %>
	<% else%>
		<%= content_for page_partial.symbol_name.to_sym do %>
			<% cache(page_partial) do %>
				<%= page_partial.content_processed.html_safe %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
