<%=form_for @snippet,:url => admin_snippet_path(@snippet),:html=>{:class=>"form-horizontal"} do |f|%>
  <%=render :partial => "form",:locals => {:f => f}%>
  <div class="form-actions">
    <%=f.submit "Save Snippet", :class=>"btn btn-primary"%> or <%=link_to "cancel",admin_snippets_path,:class => "btn"%>
  </div>

<%end%>
