<%=content_for :data_controls do%>
<%=link_to "New Snippet",new_admin_snippet_path(),:class => "btn btn-primary",:title => "New Snippet"%>
<%end%>
<%=content_for :detail do%>
  <div class="page_list">
      <%@snippets.each do |snippet|%>
        <div class="page_row">

          <span class="row_meta"><%=link_to snippet.name,edit_admin_snippet_path(:id => snippet.id)%></span>

          <span class="edit_controls">

            <%=link_to "Remove",admin_snippet_path(:id => snippet.id),:method => :delete,:class => 'btn btn-danger', :data => {:confirm => "Are you sure you want to remove this snippet?"} %>
          </span>
          <br style="clear:both;"/>
        </div>
      <%end%>
      <%=will_paginate @snippets%>

  </div>



<%end%>
