
  

  <%=form_for @menu_item,:url => admin_menu_menu_item_path(:id => @menu_item.id),:html=>{:class=>"form-horizontal"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
    <div class="form-actions">
    	<%=f.submit "Save Menu Item", :class=>"btn btn-primary"%> or <%=link_to "cancel",admin_menu_menu_items_path,:class => "btn"%>
    </div>
  <%end%>

