<%=error_messages_for(f.object)%>
<fieldset>
<div class="control-group">
	<%=f.label :name, :required=>true,:class => "control-label"%>
	<div class="controls">
	  <%=f.text_field :name,:title => "",:size=>40%>
	</div>

</div>
</fieldset>

