
  

  <%=form_for @menu,:url => admin_menu_path(:id => @menu.id),:html=>{:class=>"form-horizontal"} do |f|%>
    <%=render :partial => "form",:locals => {:f => f}%>
    <div class="form-actions">
    	<%=f.submit "Save Menu", :class=>"btn btn-primary"%> or <%=link_to "cancel",admin_menus_path,:class => "btn"%>
    </div>

  <%end%>



